## You CAN edit the following:
{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "default, deployer, nd"

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} built with {{recipeName}} by {{recipeAuthor}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "en-US" 
load_server_icon ND.png
set sv_enforceGameBuild 2699
set mysql_connection_string "{{dbConnectionString}}"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_enableUi 0
setr voice_defaultCycle "GRAVE"
setr voice_defaultRadioVolume 60
setr voice_defaultCallVolume 80
setr voice_enableRadioAnim 1

# Toggle targeting when pressing the hotkey, instead of holding it down.
setr ox_target:toggleHotkey 0
# Change the key to enable targeting (https://docs.fivem.net/docs/game-references/input-mapper-parameter-ids/keyboard)
setr ox_target:defaultHotkey LMENU
# Draw a sprite (circle) at the centroid of a zone.
setr ox_target:drawSprite 1
# Enable built-in targeting options, e.g. toggling vehicle doors.
setr ox_target:defaults 1
# Enable debugging / testing options, entity outlines, and a raycast indicator.
setr ox_target:debug 0

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure [dependencies]
ensure [ND]
ensure [standalone]
ensure [voice]

## Permissions ##
add_ace group.admin command allow # allow all commands
#add_principal identifier.{{principalMasterIdentifier}} qbcore.god <- doesn't exist yet, change the generated one below to qbcore.god
{{addPrincipalsMaster}}
